body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

header {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

header h1 {
margin: 0;
font-size: 2em;
}

main {
max-width: 960px;
margin: 0 auto;
padding: 20px;
}

main h2 {
margin-top: 0;
}

.project {
display: flex;
margin: 20px 0;
}

.project img {
width: 200px;
height: 200px;
object-fit: cover;
margin-right: 20px;
}

.project h3 {
margin: 0;
}

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}

footer p {
margin: 0;
}

.carousel-cell{
    position: relative;
}

.carousel-cell img{
    width: 100%;
    height: auto;
}

.carousel-cell .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-cell .btn:hover{
    background-color: black;
}

/* position dots in carousel */
.flickity-page-dots {
    bottom: 10px;
  }
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid black;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}

#Portfolio{
    margin-bottom: 20px;
}
